POSTGRES_DB=sast
POSTGRES_USER=sast
POSTGRES_PASSWORD=change-me
DB_PORT=5432
WEB_PORT=3000
API_PORT=8080
GITHUB_TOKEN=
SAST_BOOTSTRAP_EMAIL=
SAST_BOOTSTRAP_PASSWORD=
SAST_COOKIE_SECURE=false
SAST_JWT_SECRET=
SAST_JWT_ISSUER=sast-api
SAST_JWT_ACCESS_TOKEN_MINUTES=15
